.each-slide > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:60% 90% !important;
    background-position: center;
    height: 520px;
    
    
}


/* Mobile */
@media (max-width: 600px) {
    .each-slide > div {
        margin-top: 5px;
        /* background-size:contain contain; */
        background-size:50% 100% !important;
        height: 150px;
    }
   
}

@media (min-width: 601px) and (max-width: 1120px) {
    .each-slide > div {
        /* background-size:contain contain; */
        background-size:50% 90% !important;
        height: 260px;
    }
}

